<%= simple_form_for(@party) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :party_name %>
    <%= f.input :custom_greeting %>
    <%= f.input :accomodation_name %>
    <%= f.input :accomodation_address %>
    <%= f.input :notes %>
    <%= f.input :street_address_line_1 %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :zip_code %>
    <%= f.input :country %>
    <%= f.input :phone_number %>
    <%= f.input :invite_sent %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
