<p id="notice"><%= notice %></p>

Total number of invitees: <%= @guests.count %><br>

<% unless @yesses.blank? %>  
  Total number of invitees who are attending:  <%= @yesses.count %><br>
<% end %>

<% unless @nos.blank? %>  
  Total number of invitees who will not be attending: <%= @nos.count %><br>
<% end %>  

Total number of invitess pending: <%= @pendings.count %><br>

Total number of guests invited from USA: <%= @americans.count %><br>
Total number of guests invited from Angola: <%= @angolans.count %><br>
Total number of guests invited from Portugal: <%= @portuguese.count %><br>
Total number of guests invited from Spain: <%= @spanish.count %><br>
Total number of guests invited from Denmark: <%= @danish.count %><br>
Total number of guests invited from Australia: <%= @australians.count %><br>
Total number of guests invited from Belgium: <%= @belgians.count %><br>
Total number of guests invited from Italy: <%= @italians.count %><br>
Total number of kids coming: <%= @kids.count %><br>
<h1>Listing Guests</h1>

<div class="guests__wrapper">
  <table class="width-100">
    <thead>
      <tr>
        <th class="upcase">
          
        </th>
        <th class="upcase">
          <%= sortable "First name" %>
        </th>
        <th class="upcase">
          <%= sortable "Last name" %>
        </th>
        <th class="upcase">
          <%= sortable "Party Name" %>
        </th>
        <th class="upcase">
          <%= sortable "Email" %>
        </th>
        <th class="upcase">
          <%= sortable "Country" %>
        </th>

        <!-- <th class="upcase">Street address</th>
        <th class="upcase">City</th>
        <th class="upcase">State</th>
        <th class="upcase">Zip code</th>
        <th class="upcase">Country</th>
        <th class="upcase">Phone number</th>
        <th class="upcase">Status</th>
        <th class="upcase">Std sent</th>
        <th class="upcase">Invite sent</th> -->
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @guests.each_with_index do |guest, i| %>
        <tr class="<% if guest.attending? %> green__text <% elsif guest.attending == nil %> yellow__text <% else %> red__text <% end %> <% if guest.is_child? %> kid <% end %>">
          <td><%= link_to 'Edit', edit_guest_path(guest) %></td>
          <td><%= guest.first_name %></td>
          <td><%= guest.last_name %></td>
          <td><%= guest.party.party_name %></td>
          <td><%= guest.email %></td>
          <td><%= guest.country %></td>

         <!--  <td><%= guest.street_address_line_1 %></td>
          <td><%= guest.street_address_line_2 %></td>
          <td><%= guest.city %></td>
          <td><%= guest.state %></td>
          <td><%= guest.zip_code %></td>
          <td><%= guest.country %></td>
          <td><%= guest.phone_number %></td>
          <td><%= guest.attending? %></td>
          <td><%= guest.invite_sent? %></td>
          <td><%= guest.is_child? %></td> -->

          <td><%= link_to 'Guest Info', guest %></td>
          <td><%= link_to 'Remove', guest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>  
<br>

<%= link_to 'New Guest', new_guest_path %>
