<!-- MEET AND GREET -->
<div class="event-date-time-module row meet-and-greet active">
	<div class="col-lg-4 col-md-12 col-sm-12 meet-and-greet event-date">
		<div class="mobile-only meet-and-greet event-image option-one active"></div>

		<h3 class="event-header mobile-only">
			Conhe&ccedil;a e Sa&uacute;da
		</h3> 
		<p class="relative z-one navy__text text__align--center pressura--reg date__header wide">
			<%= ("Domigo, July").upcase %>
		</p>
		<div class="date__container">
			<div class="skinny">
				<span class="navy__text text__align--center pressura--reg wide">
					2<br>0
				</span>
			</div>
			<div class="fat">
				<span class="navy__text text__align--center">
					02
				</span>
			</div>
			<div class="skinny">
				<span class="navy__text text__align--center pressura--reg wide">
					1<br>7
				</span>
			</div>
		</div>	
	</div>
	<span class="vert-divider navy"></span>
	<div class="col-lg-4 col-md-12 col-sm-12 meet-and-greet event-date">
		<div class="date__container event">
			<div class="fat event">
				<span class="navy__text text__align--center">
					7
				</span>
			</div>
			<div class="skinny">
				<span class="navy__text text__align--center pressura--reg wide">
					P<br>M
				</span>
			</div>
			<div class="fat event">
				<span class="navy__text text__align--center">
					-
				</span>
			</div>
			<div class="fat event">
				<span class="navy__text text__align--center">
					9
				</span>
			</div>
			<div class="skinny">
				<span class="navy__text text__align--center pressura--reg wide">
					P<br>M
				</span>
			</div>
		</div>	
	</div>
	<span class="vert-divider navy"></span>
	<div class="col-lg-4 col-md-12 col-sm-12 meet-and-greet event-date">
		<p class="relative z-one navy__text text__align--center wide larger event-date-text">
			POUSADA CANI&Ccedil;ADA-GER&Ecirc;S
		</p>
		<p class="relative z-one navy__text pressura--reg wide text__align--center wide">
			AV. da CANI&Ccedil;ADA nº 1518 4850-054 CANI&Ccedil;ADA
		</p>
		<div class="registry__buttons--wrapper">
			<a class="button centered event" target="_blank" href="https://www.google.com/maps/place/Pousada+Cani%C3%A7ada-Ger%C3%AAs/@41.6477239,-8.1875644,17z/data=!3m1!4b1!4m5!3m4!1s0xd251e36269c8419:0x91e642dd1b3393c5!8m2!3d41.6477199!4d-8.1853757">
				VER MAPA
			</a>
		</div>
	</div>
</div>
<span class="mobile-hor-divider navy"></span>
<!-- Wedding -->
<div class="event-date-time-module row wedding">
	<div class="col-lg-4 col-md-12 col-sm-12 wedding event-date">
		<div class="mobile-only wedding event-image option-two active"></div>
		<h3 class="event-header mobile-only">
			Cerim&ocirc;nia
		</h3>
		<p class="relative z-one navy__text text__align--center pressura--reg date__header wide">
			<%= ("Segunda-feira, July").upcase %>
		</p>
		<div class="date__container">
			<div class="skinny">
				<span class="navy__text text__align--center pressura--reg wide">
					2<br>0
				</span>
			</div>
			<div class="fat">
				<span class="navy__text text__align--center">
					03
				</span>
			</div>
			<div class="skinny">
				<span class="navy__text text__align--center pressura--reg wide">
					1<br>7
				</span>
			</div>
		</div>	
	</div>
	<span class="vert-divider navy"></span>
	<div class="col-lg-4 col-md-12 col-sm-12 wedding event-date">
		<div class="date__container event">
			<div class="fat event">
				<span class="navy__text text__align--center">
					5
				</span>
			</div>
			<div class="skinny">
				<span class="navy__text text__align--center pressura--reg wide">
					P<br>M
				</span>
			</div>
			<div class="fat event">
				<span class="navy__text text__align--center">
					-
				</span>
			</div>
			<div class="fat event">
				<span class="navy__text text__align--center">
					6
				</span>
			</div>
			<div class="skinny">
				<span class="navy__text text__align--center pressura--reg wide">
					P<br>M
				</span>
			</div>
		</div>	
	</div>
	<span class="vert-divider navy"></span>
	<div class="col-lg-4 col-md-12 col-sm-12 wedding event-date">
		<p class="relative z-one navy__text text__align--center wide larger event-date-text">
			<%= ("Pousada Mosteiro de Amares").upcase %>
		</p>
		<p class="relative z-one navy__text pressura--reg wide text__align--center wide">
			<%= ("Largo do Terreiro - Santa Maria do Bouro").upcase %>
		</p>
		<div class="registry__buttons--wrapper">
			<a class="button centered event" target="_blank" href="https://www.google.com/maps/place/Pousada+Mosteiro+de+Amares/@41.659708,-8.2769177,17z/data=!3m1!4b1!4m5!3m4!1s0xd251d017ff1b975:0xa119c26c0a8ee36a!8m2!3d41.659704!4d-8.274729">
				VER MAPA
			</a>
		</div>
	</div>
</div>
<span class="mobile-hor-divider navy"></span>
<!-- Reception -->
<div class="event-date-time-module row reception">
	<div class="col-lg-4 col-md-12 col-sm-12 reception event-date">
		<div class="mobile-only reception event-image option-three active"></div>
		<h3 class="event-header mobile-only">
			Rece&ccedil;&atilde;o
		</h3> 
		<p class="relative z-one navy__text text__align--center pressura--reg date__header wide">
			<%= ("Segunda-feira, July").upcase %>
		</p>
		<div class="date__container">
			<div class="skinny">
				<span class="navy__text text__align--center pressura--reg wide">
					2<br>0
				</span>
			</div>
			<div class="fat">
				<span class="navy__text text__align--center">
					03
				</span>
			</div>
			<div class="skinny">
				<span class="navy__text text__align--center pressura--reg wide">
					1<br>7
				</span>
			</div>
		</div>	
	</div>
	<span class="vert-divider navy"></span>
	<div class="col-lg-4 col-md-12 col-sm-12 reception event-date">
		<div class="date__container event">
			<div class="fat event">
				<span class="navy__text text__align--center">
					7
				</span>
			</div>
			<div class="skinny">
				<span class="navy__text text__align--center pressura--reg wide">
					P<br>M
				</span>
			</div>
			<div class="fat event">
				<span class="navy__text text__align--center">
					-
				</span>
			</div>
			<div class="fat event">
				<span class="navy__text text__align--center">
					3
				</span>
			</div>
			<div class="skinny">
				<span class="navy__text text__align--center pressura--reg wide">
					A<br>M
				</span>
			</div>
		</div>	
	</div>
	<span class="vert-divider navy"></span>
	<div class="col-lg-4 col-md-12 col-sm-12 reception event-date">
		<p class="relative z-one navy__text text__align--center wide larger event-date-text">
			<%= ("Pousada Mosteiro de Amares").upcase %>
		</p>
		<p class="relative z-one navy__text pressura--reg wide text__align--center wide">
			<%= ("Largo do Terreiro - Santa Maria do Bouro").upcase %>
		</p>
		<div class="registry__buttons--wrapper">
			<a class="button centered event" target="_blank" href="https://www.google.com/maps/place/Pousada+Mosteiro+de+Amares/@41.659708,-8.2769177,17z/data=!3m1!4b1!4m5!3m4!1s0xd251d017ff1b975:0xa119c26c0a8ee36a!8m2!3d41.659704!4d-8.274729">
				VER MAPA
			</a>
		</div>
	</div>
</div>
<span class="mobile-hor-divider navy"></span>
<!-- BBQ -->
<div class="event-date-time-module row bbq">
	<div class="col-lg-4 col-md-12 col-sm-12 bbq event-date">
		<div class="mobile-only bbq event-image option-four active"></div>
		<h3 class="event-header mobile-only">
			Adeus Churrasco
		</h3> 
		<p class="relative z-one navy__text text__align--center pressura--reg date__header wide">
			<%= ("Ter&ccedil;a, July").upcase %>
		</p>
		<div class="date__container">
			<div class="skinny">
				<span class="navy__text text__align--center pressura--reg wide">
					2<br>0
				</span>
			</div>
			<div class="fat">
				<span class="navy__text text__align--center">
					04
				</span>
			</div>
			<div class="skinny">
				<span class="navy__text text__align--center pressura--reg wide">
					1<br>7
				</span>
			</div>
		</div>	
	</div>
	<span class="vert-divider navy"></span>
	<div class="col-lg-4 col-md-12 col-sm-12 bbq event-date">
		<div class="date__container event">
			<div class="fat event">
				<span class="navy__text text__align--center">
					1
				</span>
			</div>
			<div class="skinny">
				<span class="navy__text text__align--center pressura--reg wide">
					P<br>M
				</span>
			</div>
			<div class="fat event">
				<span class="navy__text text__align--center">
					-
				</span>
			</div>
			<div class="fat event">
				<span class="navy__text text__align--center">
					4
				</span>
			</div>
			<div class="skinny">
				<span class="navy__text text__align--center pressura--reg wide">
					P<br>M
				</span>
			</div>
		</div>	
	</div>
	<span class="vert-divider navy"></span>
	<div class="col-lg-4 col-md-12 col-sm-12 bbq event-date">
		<p class="relative z-one navy__text text__align--center wide larger event-date-text">
			<%= ("Casa Casal do Carvalhal").upcase %>
		</p>
		<p class="relative z-one navy__text pressura--reg wide text__align--center wide">
			<%= ("Rua do Carvalhal 76, Barreiros, Amares 4120").upcase %>
		</p>
		<div class="registry__buttons--wrapper">
			<a class="button centered event" target="_blank" href="https://www.google.com/maps/place/Casa+Casal+Do+Carvalhal,+Rua+do+Carvalhal,+Nº76,+Barreiros+-+Amares,+4720-103+Braga,+Portugal/@41.616766,-8.4303619,13z/data=!4m15!1m6!3m5!1s0xd250201e9be84bb:0xf9dd178a5bbf77ba!2sCasa+Casal+Do+Carvalhal!8m2!3d41.616766!4d-8.395343!4m7!1m0!1m5!1m1!1s0xd250201e9be84bb:0xf9dd178a5bbf77ba!2m2!1d-8.395343!2d41.616766		">
				VER MAPA
			</a>
		</div>
	</div>
</div>